<?xml version = "1.0"?>
<robot name = "rover_andes">

<!-- Link definations -->
<link name = "base_link">
	
	<visual name = "elbow_1">
		<geometry>
			<mesh filename = "package://urdf/meshes/elbow-1.STL"/>
		</geometry>
	</visual>
	
        <visual name = "elbow_2">
                <geometry>
                        <mesh filename = "package://urdf/meshes/elbow-2.STL"/>
                </geometry>
	</visual> 

        <visual name = "elbow_3">
                <geometry>
                        <mesh filename = "package://urdf/meshes/elbow-3.STL"/>
                </geometry>
	</visual> 

        <visual name = "elbow_4">
                <geometry>
                        <mesh filename = "package://urdf/meshes/elbow-4.STL"/>
                </geometry>
	</visual>

        <visual name = "pipe_1_1">
                <geometry>
                        <mesh filename = "package://urdf/meshes/pipe1-1.STL"/>
                </geometry>
        </visual> 

        <visual name = "pipe_1_2">
                <geometry>
                        <mesh filename = "package://urdf/meshes/pipe1-2.STL"/>
                </geometry>
        </visual>

	<visual name = "pipe_2_1">
                <geometry>
                        <mesh filename = "package://urdf/meshes/pipe2-1.STL"/>
                </geometry>
	</visual>

        <visual name = "pipe_2_2">
                <geometry>
                        <mesh filename = "package://urdf/meshes/pipe2-2.STL"/>
                </geometry>
        </visual>

</link>

<link name = "wheel_1_link">
	<visual>
		<geometry>
			<mesh filename = "package://urdf/meshes/wheel_1.STL"/>
		</geometry>
	</visual>
</link>

<link name = "wheel_2_link">
        <visual>
                <geometry>
                        <mesh filename = "package://urdf/meshes/wheel_2.STL"/>
                </geometry>
        </visual>
</link> 

<link name = "wheel_3_link">
        <visual>
                <geometry>
                        <mesh filename = "package://urdf/meshes/wheel_3.STL"/>
                </geometry>
        </visual>
</link>

<link name = "wheel_4_link">
        <visual>
                <geometry>
                        <mesh filename = "package://urdf/meshes/wheel_4.STL"/>
                </geometry>
        </visual>
</link>

<joint name = "wheel_1_joint" type = "continous">
	<parent link = "base_link"/>
	<child link = "wheel_1_link"/>
	<origin xyz = "0 0 0" rpy = "0 0 0"/>
</joint>

<joint name = "wheel_2_joint" type = "continous">
        <parent link = "base_link"/>
        <child link = "wheel_2_link"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
</joint>

<joint name = "wheel_3_joint" type = "continous">
        <parent link = "base_link"/>
        <child link = "wheel_3_link"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
</joint>

<joint name = "wheel_4_joint" type = "continous">
        <parent link = "base_link"/>
        <child link = "wheel_4_link"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
</joint>

